.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
a {
  color: orangered;
}
a:hover {
  color: #cd9d0f;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: orangered;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  color: orangered;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: orangered;
}
#offcanvas-toggler >i {
  color: #34404e;
}
#offcanvas-toggler >i:hover {
  color: orangered;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: orangered;
  background-color: orangered;
}
ul.social-icons >li a:hover {
  color: orangered;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #34404e;
}
.sp-module ul >li >a:hover {
  color: orangered;
}
.sp-module .latestnews >div >a {
  color: #34404e;
}
.sp-module .latestnews >div >a:hover {
  color: orangered;
}
.sp-module .tagscloud .tag-name:hover {
  background: orangered;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  color: orangered!important;
  border-color: orangered!important;
}
.search .btn-toolbar button {
  background: orangered;
}
.post-format {
  background: orangered;
}
.voting-symbol span.star.active:before {
  color: orangered;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: orangered;
}
.entry-link,
.entry-quote {
  background: orangered;
}
blockquote {
  border-color: orangered;
}
.carousel-left:hover,
.carousel-right:hover {
  background: orangered;
}
.sp-comingsoon body {
  background-color: orangered;
}
.pagination>li>a,
.pagination>li>span {
  color: #34404e;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #34404e;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: orangered;
  background-color: orangered;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: orangered;
  background-color: orangered;
}
.sppb-nav-tabs > li > a >i {
  color: orangered;
}
.sppb-btn-primary:hover {
  color: orangered;
  text-decoration: underline;
}
h1.sppb-title-heading:after {
  background-color: orangered;
}
.sppb-testimonial-pro .sppb-carousel-control {
  border: 2px solid orangered;
  color: #fff;
}
.addon-title h1.sppb-addon-title:after {
  background: orangered;
}
.sp-module-title:after {
  background: orangered;
}
.contact-one .sppb-btn-success {
  background-color: orangered;
  border-color: orangered;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: orangered;
}
.about-number .sppb-animated-number-title span {
  color: orangered;
}
.sppb-person-social li a i:hover {
  color: orangered;
}
.sppb-addon-persion:hover .sppb-person-information span.sppb-person-name {
  color: orangered;
}
.service-slide .text-block-left .sppb-addon-content p i {
  color: orangered;
}
.sppb-carousel a.sppb-carousel-arrow i {
  border: 1px solid orangered;
}
.tagspopular ul li a:hover {
  background: orangered;
  border: 1px solid orangered;
  color: #fff !important;
}
ul.service-menu li.current a,
ul.service-menu li:hover a {
  color: orangered;
}
p.readmore a.btn:hover {
  background: orangered;
  color: #fff;
}
.pagination-wrapper a:hover {
  border: 1px solid orangered !important;
}
.sp-contact-info li i {
  color: orangered;
}
.tp-caption.excerpt span,
.excerpt span {
  color: orangered;
}
.slider-btn-one:hover {
  background: orangered;
  color: #fff;
  border-color: orangered;
}
.slider-btn-two {
  background: orangered;
  border-color: orangered;
}
.slider-btn-two:hover {
  background: transparent;
  border-color: orangered;
  color: orangered;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a:hover {
  background: orangered;
  border-color: orangered;
}
.sppb-btn-primary:focus {
  color: orangered;
}
.pager li a:hover {
  background: orangered;
  border-color: orangered;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  border-top: 2px solid orangered;
}
.home-section-quote .sppb-btn-default:hover {
  color: orangered;
}
.home-portfolio .sppb-addon-text-block .sppb-addon-content a {
  background: linear-gradient(0deg,rgba(0,0,0,0.1),transparent 18px), #efbb20;
  border-color: orangered;
}
.home-portfolio .sppb-addon-text-block .sppb-addon-content a:hover {
  background: orangered;
  color: #fff;
  border: none;
}
.partner img.sppb-img-responsive:hover {
  border-color: orangered;
}
.sppb-addon-accordion .sppb-panel .active .sppb-panel-title:after {
  color: orangered;
}
.sppb-addon-accordion .sppb-panel .active .sppb-panel-title i {
  color: orangered;
}
.home-about-us .sppb-addon-feature .sppb-icon i:hover,
.home-about-us .sppb-addon-feature .sppb-icon span:hover {
  background: orangered;
  color: #fff;
  border-color: orangered;
}
.home-project .sppb-addon-text-block h1 span {
  color: orangered;
}
.home-project .sppb-addon-content em {
  color: orangered;
}
.sppb-addon-button-group .call-now {
  background: orangered;
  border-color: orangered;
}
a.ns2-readmore span:hover {
  color: orangered;
  border-color: orangered;
}
.sp-module .latestnews >div >a:hover {
  color: orangered !important;
}
.about-social .social-icons i {
  font-size: 17px;
}
.about-social .social-icons i:hover {
  color: orangered !important;
}
.menu-serch button.button:hover {
  background: orangered;
}
.tp-caption.excerpt-big,
.excerpt-big {
  color: orangered !important;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
  background: orangered;
}
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-overlay {
  opacity: .9;
}
.home-testimonial .sppb-testimonial-client .pro-client-name {
  color: orangered !important;
}
.home-testimonial .sppb-item:before {
  color: orangered !important;
}
.contact-feature .sppb-icon span i {
  color: orangered;
}